:host {
  display: contents;
}

td {
  border-bottom: 1px solid var(--clr-border);
  cursor: pointer;
  padding: 12px 16px;
}

td.success {
  background: color-mix(in srgb, var(--bg-success) 10%, transparent) !important;
  color: var(--bg-success);
  font-weight: 600;
}

td.failure {
  background: color-mix(in srgb, var(--bg-danger) 10%, transparent) !important;
  color: var(--bg-danger);
  font-weight: 600;
}

td.odd {
  background: var(--bg-secondary);
}

.cell {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  min-height: 29px;
}

.month-label {
  background: var(--bg-accent);
  color: var(--clr-primary);
  font-weight: 600;
  border-radius: 10px;
  padding: 4px 8px;
}
