.top-bar {
  align-items: center;
  background: var(--bg-secondary);
  color: var(--clr-secondary);
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm);
}

.title {
  margin: 0;

}
