<header>
  <button class="button accent" (click)="showPreviousMonth()">
    <span class="material-icons">arrow_back</span>
  </button>
  <span>{{ header() }}</span>
  <button class="button accent" (click)="showNextMonth()">
    <span class="material-icons">arrow_forward</span>
  </button>
</header>

<div class="calendar">
  @for (weekLabel of weekLabels; track weekLabel) {
    <span class="week-label">{{ weekLabel }}</span>
  }
  @for (day of dates(); track day.date) {
    <span
      class="day"
      [ngClass]="day.className"
      [style.grid-column-start]="day.weekIndex"
      (click)="onDayClick(day)">
      {{ day.date }}
    </span>
  }
</div>
