<app-page-header title="Streams"/>

@if (!streams()) {
  <app-spinner/>
} @else {
  <ul class="menu-list">
    @for (stream of streams(); track stream.id) {
      <li class="menu-list-item" [routerLink]="[stream.id]">
        <span class="material-icons icon">{{ stream.category | categoryToIcon }}</span>
        <span class="title">{{ stream.title }}</span>
        <span class="description">{{ stream.description }}</span>
        <div class="actions">
          <button class="button secondary small" (click)="edit($event, stream)">
            <span class="material-icons">edit</span>
          </button>
          <button class="button danger small" (click)="delete($event, stream)">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </li>
    } @empty {
      <p class="no-streams">Time to flow with the River of Life. Create a Stream.</p>
      <button class="button success wide" [routerLink]="['/new']">Create a Stream.</button>
    }
  </ul>
}

