:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.actions {
  display: flex;
  gap: var(--space-md);
}

.stream-form {
  background: var(--bg-secondary);
  border-radius: var(--radius);
  flex-grow: 1;
  overflow-y: auto;
  margin: var(--space-md);
  padding: var(--space-md);
}
