:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding-inline: var(--space-md);
}

.actions {
  display: flex;
  gap: var(--space-md);
}

.stream-form {
  background: var(--bg-secondary);
  border-radius: var(--radius);
  flex-grow: 1;
  overflow-y: auto;
  margin-block: var(--space-md);
  padding: var(--space-sm);
}
