@import 'material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles/button.css';
@import './styles/form-field.css';
@import './styles/list.css';
@import './styles/anchor.css';

:root {
  --bg-primary: #1a1a1a;
  --clr-primary: #f2f2f2;

  --bg-secondary: #222;
  --clr-secondary: #9a9a9a;

  --bg-accent: #3d7fff;
  --clr-accent: #ffffff;

  --clr-border: #2b2b2b;

  --bg-success: #4ade80;
  --clr-success: #064e21;

  --bg-danger: #f87171;
  --clr-danger: #7f1d1d;

  --radius: 6px;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;

}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-primary);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100vw;

  &.no-scroll {
    overflow: hidden;
  }
}

dialog {
  width: min(90vw, 250px);
  background: var(--bg-secondary);
  border-color: var(--clr-border);
  color: var(--clr-primary);

  &::backdrop {
    backdrop-filter: blur(5px);
  }
}
