:host {
  display: contents;
}

.menu {
  background: var(--bg-primary);

  height: 100vh;
  width: 100vw;

  position: absolute;
  left: 0;
  top: 0;

  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;

  &.active {
    transform: translateX(0);
  }
}
